<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b770fc">  <td>23/03/13 08:52:34</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ANNOTATIONS.print()[pri:0, instance:bookmyshowtest.ANNOTATIONS@cd3fee8]">&gt;&gt;print</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="b770fc">  <td>23/03/13 08:52:34</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ANNOTATIONS.print2()[pri:0, instance:bookmyshowtest.ANNOTATIONS@cd3fee8]">&gt;&gt;print2</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="b770fc">  <td>23/03/13 08:52:34</td>   <td>171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ANNOTATIONS.print3()[pri:0, instance:bookmyshowtest.ANNOTATIONS@cd3fee8]">&gt;&gt;print3</td> 
<td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="b770fc">  <td>23/03/13 08:52:34</td>   <td>171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ANNOTATIONS.print3()[pri:0, instance:bookmyshowtest.ANNOTATIONS@cd3fee8]">&gt;&gt;print3</td> 
<td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="b770fc">  <td>23/03/13 08:52:34</td>   <td>171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ANNOTATIONS.print3()[pri:0, instance:bookmyshowtest.ANNOTATIONS@cd3fee8]">&gt;&gt;print3</td> 
<td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="b770fc">  <td>23/03/13 08:52:34</td>   <td>79</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ANNOTATIONS.print4()[pri:0, instance:bookmyshowtest.ANNOTATIONS@cd3fee8]">print4</td> 
  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="b770fc">  <td>23/03/13 08:52:34</td>   <td>138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ANNOTATIONS.print5()[pri:0, instance:bookmyshowtest.ANNOTATIONS@cd3fee8]">print5</td> 
  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="b770fc">  <td>23/03/13 08:52:34</td>   <td>173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ANNOTATIONS.print6()[pri:0, instance:bookmyshowtest.ANNOTATIONS@cd3fee8]">print6</td> 
  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="b770fc">  <td>23/03/13 08:52:34</td>   <td>209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ANNOTATIONS.print7()[pri:0, instance:bookmyshowtest.ANNOTATIONS@cd3fee8]">&lt;&lt;print7</td> 
<td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="b770fc">  <td>23/03/13 08:52:34</td>   <td>209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ANNOTATIONS.print7()[pri:0, instance:bookmyshowtest.ANNOTATIONS@cd3fee8]">&lt;&lt;print7</td> 
<td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="b770fc">  <td>23/03/13 08:52:34</td>   <td>209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ANNOTATIONS.print7()[pri:0, instance:bookmyshowtest.ANNOTATIONS@cd3fee8]">&lt;&lt;print7</td> 
<td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="b770fc">  <td>23/03/13 08:52:34</td>   <td>220</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ANNOTATIONS.print8()[pri:0, instance:bookmyshowtest.ANNOTATIONS@cd3fee8]">&lt;&lt;print8</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
<tr bgcolor="b770fc">  <td>23/03/13 08:52:34</td>   <td>229</td> <td>&nbsp;</td><td title="&lt;&lt;ANNOTATIONS.print9()[pri:0, instance:bookmyshowtest.ANNOTATIONS@cd3fee8]">&lt;&lt;print9</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1525919705</td>   <td></td> </tr>
</table>
